<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">ShareIt</h1>
      <p class="lead text-body-secondary">
        ShareIt is a platform that allows you to donate items you no longer need. Whether it’s clothing, books, or household goods, you can give them a new life by sharing them with others in your community. Join us in promoting sustainability and helping those in need!
      </p>
      <p>
        <a href="/items" class="btn btn-primary my-2">Find an item</a>
        <% if user_signed_in? %>
          <a href="/items/new" class="btn btn-secondary my-2">Share an item</a>
        <% else %>
          <a href="/users/sign_in" class="btn btn-secondary my-2">Share an item</a>
        <% end %>
      </p>
    </div>
  </div>
</section>
